{% extends "layout.html" %}

{% block title %}
    Explore the world!
{% endblock %}

{% block main %}
    <button id="myBtn">?</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p><h4>Welcome to world-toast! Everyday a new country would be randomly selected and displayed here for you to learn about! The general idea is that you can read up more on other countries while you are having your toast - hence the name "World-toast". Happy reading!</h4></p>
        </div>
      
    </div>
    <div style="margin-top: 6vw;"></div>
    <table class="giant_card">
        <tr>
            <th colspan="2">
                <h4 class="center">Today's Country/Territory:</h4>
                <h1 class="title_countryname">{{country_data[1]}}</h1>
            </th>
        </tr>
        <tr>
            <!--Embeded google maps, search string is provided by app.py through the embeded_search_string var -->
            <th><iframe id="embeded_map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src={{ embeded_search_string }}></iframe></th>
        </tr>
        <tr>
            <th><img src="{{ flags }}" id="country_flag"alt="Country Flag"></th>
        </tr>

        <tr>
            <th colspan="2" class="intro_text">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="desc-tab" data-bs-toggle="tab" data-bs-target="#desc" type="button" role="tab" aria-controls="description" aria-selected="true"><h6>Desciption</h6></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="stat-tab" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab" aria-controls="statistics" aria-selected="false"><h6>Statistics</h6></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="news-tab" data-bs-toggle="tab" data-bs-target="#news" type="button" role="tab" aria-controls="news" aria-selected="false"><h6>Top News in {{country_data[1]}} today</h6></button>
                    </li>
                </ul>
                
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="desc" role="tabpanel" aria-labelledby="desc-tab">
                        <h6 class="tabcontent">{{ introduction_text }}</h6>
                    </div>
                    <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stat-tab">
                        <table class="table tabcontent">
                            <tr>
                                <th>
                                    <h6>Continent:{{country_data[2]}}</h6>
                                </th>
                                <th>
                                    <h6>Region:{{country_data[3]}}</h6>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <h6>Population:{{country_data[6]}}</h6>
                                </th>
                                <th>
                                    <h6>Average life-expectancy:{{country_data[7]}} years</h6>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <h6>Neighbours:</h6>
                                </th>
                                <th>
                                    {% if 'Your country does not share a land border with any other country' == country_neighbours %}
                                        <h6>Country does not share a land border with any other country</h6>
                                    {% else %}
                                        {% for neighbour in country_neighbours %}
                                            <h6 style = "display: inline-block;"><a href="/searched?Country={{neighbour}}">{{neighbour}}</a></h6>
                                        {% endfor %}
                                    {% endif %}
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div class="news-pane fade" id="news" role="tabpanel" aria-labelledby="news-tab">
                        {% for n in range(10) %}
                            <div class="news-container">
                                <div class="columns columns-img">
                                    <img src="{{ news[n]['urlToImage'] }}" id="country_flag" alt="news image">
                                </div>
                                <div class="columns columns-text">
                                    <h6><a href="{{news[n]['url']}}">{{news[n]['title']}}</a></h6>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </th>
        </tr>
    </table>

    <script>
        var myIframe = document.getElementById('embeded_map');
        myIframe.addEventListener("load", function() {
            document.getElementById("embeded_map").setAttribute("height",document.getElementById("country_flag").clientHeight);
        });
        // Pop up 
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }
    </script>
{% endblock %}