{% extends "layout.html" %}

{% block title %}
    See your neighbours!
{% endblock %}

{% block main %}
    <div class="giant_card center">
        <div style="margin-top: 3vw;"></div>
        <h2 class="center">You are currently in: {{ country_name }}</h2>
        <div style="margin-top: 3vw;"></div>
        <img src="{{ flags }}" id="country_flag"alt="Country Flag">
        <hr>
        <div style="margin-top: 3vw;"></div>
        <h2 class="center">Your neighbours are:</h2>
        {% if 'Your country does not share a land border with any other country' == country_neighbours %}
            <h3>{{country_neighbours}}</h3>
        {% else %}
            {% for neighbour in country_neighbours %}
                <div class="columns columns-card">
                    <div class="card">
                        <img src="{{ neighbour[1] }}" id="country_flag"alt="Country Flag">
                        <hr>
                        <a href="/searched?Country={{neighbour[0]}}"><h3 class="card-text">{{neighbour[0]}}</h3></a>
                    </div>
                </div>
            {% endfor %}
            
        {% endif %}

    </div>
{% endblock %}